.site {
  margin: 0 auto;
  position: relative;
}

.site-main {
  @include clearfix;
  padding: 2rem .5rem .5rem .5rem;
  @include breakpoint($medium) {
    padding: 2rem;
  }
}

.site-main__content {
  max-width: $max-width;
  min-width: $min-width;
  margin: 0 auto;
}
